<div class="card border-primary mb-3">
  <div class="card-header">Vehiculos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Vehiculos</h5>

    <div>
      <!--debe estar la ruta registrada en routes para usar routesLink-->
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/vehiculos/form']">Crear Vehiculo</button>
    </div>

    <br>

    <table class="table table-bordered table-striped">
      <thead>
        <th>id</th>
        <th>marca</th>
        <th>modelo</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </thead>
      <tbody>
        <tr *ngFor="let vehiculo of vehiculos">
          <td>{{vehiculo.id}}</td>
          <td>{{vehiculo.marca}}</td>
          <td>{{vehiculo.modelo}}</td>
          <td><button class="btn btn-primary" type="button" name="button" [routerLink]="['/vehiculos/form',vehiculo.id]">Editar</button></td>
          <td><button class="btn btn-danger btn-sm" type="button" name="button" (click)="delete(vehiculo)">Eliminar</button></td>
        </tr>
      </tbody>

    </table>

  </div>
</div>