/* se agrega estilo para que o se rompa el estilo con una tabla con muchos registros */
html{
    position:relative;
    min-height: 100%;
}

body{
margin-bottom: 60px;
}

.wrap{
    padding-bottom: 60px;
}